.DS_Store

# iverilog outputs
*.out
*.vvp

# generated waveforms
*.vcd  

# quartus workspace

# jupyter garbage
.ipynb*

# test vectors
test_vectors/*

# python
.pytest_cache
__pycache__

*.log

# yosys generated
*.vqm
*.edif
verif_post



experimental
